<!DOCTYPE html>
<html lang="en">
<head>
    <title>Melanoma Checker - Checking now!</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='icon.jpg')}}" type="image/x-icon" />
    <!--<link href="http://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/docs/4.1/examples/jumbotron/jumbotron.css" rel="stylesheet">
    -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/jumbotron.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Melanoma Checker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="checker">Check now! <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Available soon</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Upload a mole photo and know what is it!</h1>
          <p>Photo should be clear and sharp. The mole should be in centre of a photo. (Acceptable extension: .jpg)</p>
            <form method="POST" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              {{ form.photo }}
              {% for error in form.photo.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
              {{ form.submit }}
            </form>
        </div>
      </div>

        <div class="container">
            <div class="row">
                <br>
            </div>
        </div>

        <div class="container">
          <div class="row">
            <br>
          </div>
            <div class="row">
            {% if file_url %}
            <br>
              <div class="jumbotron">
                  <div class="container">
                      <div class="row">
                          <br>
                          <h1 class="display-4" align="center">Results</h1>
                          <br>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                              <h3 align="center">Upload image</h3>
                              <img src="{{ file_url }}" width="100%">
                          </div>
                          <div class="col-md-4">
                              <h3 align="center">Step 1: Grayscale convert</h3>
                              <img src="{{url_for('static', filename='histograms/0Started' + random_value + '.jpg')}}" width="100%" />
                          </div>
                          <div class="col-md-4">
                              <h3 align="center">Step 2: Gausian filter</h3>
                              <img src="{{url_for('static', filename='histograms/1denoised' + random_value + '.jpg')}}" width="100%" />
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                              <h3 align="center">Step 3: Thresholding</h3>
                              <img src="{{url_for('static', filename='histograms/2Tresh' + random_value + '.jpg')}}" width="100%" />
                          </div>
                          <div class="col-md-4">
                              <h3 align="center">Step 4: Gausian filter</h3>
                              <img src="{{url_for('static', filename='histograms/3denoisedThresh' + random_value + '.jpg')}}" width="100%" />
                          </div>
                          <div class="col-md-4">
                              <h3 align="center">Step 5: Filled mole</h3>
                              <img src="{{url_for('static', filename='histograms/6Out' + random_value + '.jpg')}}" width="100%" />
                          </div>
                      </div>
                        <div class="row">
                          <div class="col-md-6">
                              <h3 align="center">Step 6: Detected edges</h3>
                              <img src="{{url_for('static', filename='histograms/7detectedEdges' + random_value + '.jpg')}}" width="100%" />
                          </div>
                          <div class="col-md-6">
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <h2 align="center">Probability</h2>
                              <br>
                              {% if cancer < 50 %}
                              <p align="center"><font color="#006400" size="6">Cancer: {{cancer}}%</font></p>
                              {% else %}
                              <p align="center"><font color="#990000" size="6">Cancer: {{cancer}}%</font></p>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  {% endif %}
              </div>
          </div> <!-- /container -->
        </div>

    </main>

    <footer class="container">
      <p>© Łukasz Wójcik 2018 - CPSiO</p>
    </footer>
</body>
</html>